
@{
    ViewData["Title"] = "AccessDenied";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Access Denied</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Access Denied</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Section Start -->
<div class="container-fluid py-5">
    <div class="container py-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-exclamation-triangle display-1 text-secondary"></i>
                <h1 class="display-1">Thông báo</h1>
                <h1 class="mb-4">Không truy cập được</h1>
                <p class="mb-4">Bạn không được cấp quyền để truy cập địa chỉ này</p>
                <a class="btn border-secondary rounded-pill py-3 px-5" href="/">Trở về trang chủ</a>
            </div>
        </div>
    </div>
</div>
<!-- Section End -->

