


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h1>Profile</h1>

@* <h2>Welcome @Context.User.Identity.Name</h2> *@



<div class="container">
    <h2>Welcome @Context.User.Identity.Name</h2>
    <a asp-action="DangXuat">Dang Xuat</a>
</div>