@model ShopManager.Areas.Admin.Models.MenuAdmin_Parent_SubMenu
@{
    ViewData["Title"] = "CreateSubMenu";
}

<!-- ID & title-->
<div class=" row">
    <div class=" col-md-2">
        <span class="title_admin">ID: </span>
        <span>@Model.MenuParent.Id</span>
    </div>
    <div class=" col-md-8">
        <span class="title_admin">Title: </span>
        <span>@Model.MenuParent.Title</span>
    </div>
</div>
<br />

<!--Content-->
<div class=" d-flex">
    <span class="title_admin me-3">Url: </span>
    <span>@Model.MenuParent.MenuUrl</span>
</div>
<br />

<form asp-action="CreateSubMenu">
    <input type="hidden" asp-for="SubMenu.ParentId" value="@Model.MenuParent.Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="SubMenu.Title" class="control-label"></label>
        <input asp-for="SubMenu.Title" class="form-control" />
        <span asp-validation-for="SubMenu.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubMenu.MenuUrl" class="control-label"></label>
        <input asp-for="SubMenu.MenuUrl" class="form-control" />
        <span asp-validation-for="SubMenu.MenuUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

