@model ShopManager.Models.CustomerSignIn

<!-- Form Start -->
<div div class="container-fluid py-5" style="margin-top: 130px">



    <div class="container">
        <div class="row justify-content-md-center">
            <!-- Alert Success Start -->
            @if (!string.IsNullOrWhiteSpace(TempData["SignInSuccessMessage"]?.ToString()))
            {
                <div class="w-100 d-flex justify-content-end">
                    <div class="alert alert-success alert-dismissible fade show r-0 mr-5" role="alert" id="alert_error" style="width:40%">
                        <strong>Success!</strong> @TempData["SignInSuccessMessage"]?.ToString()
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                </div>
            }
            <!-- Alert Success End -->

            <div class="col-md-12 col-lg-5 col-xl-4">
                <h2>Đăng nhập</h2>
                <form method="post" asp-action="SignIn" 
                    asp-route-returnUrl="@ViewBag.ReturnUrl"                   
                >
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <label class="form-label" for="form2Example1">Email <span asp-validation-for="Email" class="text-danger"></span></label>
                        <input type="email" asp-for="Email" class="form-control" />
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label">Mật khẩu <span asp-validation-for="Password" class="text-danger"></span></label>
                        <input type="password" asp-for="Password" class="form-control" />
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       value=""
                                       id="form2Example31"
                                       checked />
                                <label class="form-check-label" for="form2Example31"> Remember me </label>
                            </div>
                        </div>

                        <div class="col">
                            <!-- Simple link -->
                            <a asp-controller="Customer" asp-action="ForgotPassword">Quên mật khẩu?</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <div class="">
                        <button type="submit"                                
                                data-mdb-button-init
                                data-mdb-ripple-init
                                class="btn btn-primary btn-block mb-4 w-100">
                            <span class="px-2" style="color: white"> Sign in </span>
                        </button>
                    </div>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>
                            Chưa có tài khoản?
                            <a asp-area="" asp-controller="Customer" asp-action="SignUp">Đăng ký</a>
                        </p>
                        <p>or sign up with:</p>
                        <button type="button"
                                data-mdb-button-init
                                data-mdb-ripple-init
                                class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button"
                                data-mdb-button-init
                                data-mdb-ripple-init
                                class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </button>

                        <button type="button"
                                data-mdb-button-init
                                data-mdb-ripple-init
                                class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button"
                                data-mdb-button-init
                                data-mdb-ripple-init
                                class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-github"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->

<script>
    // ------------- Auto Close Alert ----------------
    const alert_error = document.getElementById("alert_error")
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
</script>