@model IEnumerable<ShopManager.Models.Product>


<h4 class="mb-4">Featured products</h4>

@foreach (var item in Model)
{
    <div class="d-flex align-items-center justify-content-start">
        <div class="rounded" style="width: 100px; height: 100px">
            <img src="~/images/SanPham/@item.Img" class="img-fluid rounded" alt="@item.Img"
                 style="width: 90px; height: 50px; object-fit:contain" />
        </div>
        <div>
            <h6 class="mb-2">@item.Title</h6>
            <div class="d-flex mb-2">
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="d-flex mb-2">
                <h6 class="fw-bold me-2">@item.Price.ToString("#,##0 VND")</h6>
            </div>
        </div>
    </div>
}

@* <div class="d-flex align-items-center justify-content-start">
    <div class="rounded" style="width: 100px; height: 100px">
    <img src="img/featur-1.jpg" class="img-fluid rounded" alt="Image" />
    </div>
    <div>
    <h6 class="mb-2">Big Banana</h6>
    <div class="d-flex mb-2">
    <i class="fa fa-star text-secondary"></i>
    <i class="fa fa-star text-secondary"></i>
    <i class="fa fa-star text-secondary"></i>
    <i class="fa fa-star text-secondary"></i>
    <i class="fa fa-star"></i>
    </div>
    <div class="d-flex mb-2">
    <h5 class="fw-bold me-2">2.99 $</h5>
    <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
    </div>
    </div>
    </div> *@

<div class="d-flex justify-content-center my-4">
    <a asp-area="" asp-controller="Product" asp-action="Index"
       class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">View More</a>
</div>

