<form asp-action="Search" asp-asp-controller="HangHoa">
    <div class="col-xl-3">
        <div class="input-group w-100 mx-auto d-flex">

            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="search">

            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>

        </div>
    </div>
</form>